* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
} /*"border-box" means that the width and height properties (and min/max properties) include content, padding and border*/

main {
  padding: 0 25vw 5vh 25vw;
}

#svg_timeline {
  position: relative;
}

#divText1 {
  position: absolute;
}

#timelineTitle {
  text-align: center;
  color: #dddddd;
  font-size: 3.7vh;
  font-weight: bold;
}

.header-area1 {
  font-size: 25px;
  line-height: 25px;
  padding: 30px;
  margin: 0%;
  height: 85px;
}

header a:link {
  margin-right: 4%;
  margin-top: 50%;
  transform: translate(-50%);
  font-weight: bolder;
  color: #000000;
  text-decoration: none;
}

.dates {
  font-weight: bold;
  color: #ffffff;
}
.places {
  color: #888888;
  font-weight: bold;
}

.stoneGrey {
  animation-play-state: running;
  animation-fill-mode: backwards;
  animation: stoneGrey ease-in-out 0.7s 1;
}

@keyframes stoneGrey {
  0% {
    fill: #ffffff;
  }
  50% {
    fill: #dddddd;
  }
  100% {
    fill: #ffffff;
  }
}

#Text3 {
  display: none;
}

.cls-67,
.cls-81,
.cls-85 {
  display: none;
}

.visible {
  display: block;
}

.cls-28,
.cls-29 {
  cursor: pointer;
}
